<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.omegacentauri.SpeakerBoost"
    android:versionCode="33"
    android:versionName="2.01.1" >

    <uses-sdk android:minSdkVersion="9" />
     <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
     <supports-screens
         android:normalScreens="true"
         android:largeScreens="true"
         android:xlargeScreens="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="SpeakerBoost" >
        <activity
            android:name="mobi.omegacentauri.SpeakerBoost.SpeakerBoost"
            android:theme="@style/Theme.MyDialog"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="SpeakerBoost" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="mobi.omegacentauri.SpeakerBoost.Options" android:label="Options" />
        <receiver android:name="mobi.omegacentauri.SpeakerBoost.OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="mobi.omegacentauri.SpeakerBoost.SpeakerBoostService" />
</application>
    
</manifest>